<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.archi1.piccity">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.NETWORK"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".PicCity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Register">
        </activity>
        <activity android:name=".Activity.LoginActivity"/>
        <activity android:name=".Activity.MainActivity">
        </activity>
        <activity android:name=".Activity.GalleryDetailsActivity"/>
        <activity android:name=".Activity.ArtGalleryDetailsActivity"/>
        <activity android:name=".Activity.CameraImagePriview"/>
        <activity android:name=".Activity.RoyaltyPicDetailsActivity"/>
        <activity android:name=".Activity.EditArtListActivity"/>
        <activity android:name=".Activity.UpdateImageAvtivity"/>
        <activity android:name=".Activity.CanvasGalleryImage"/>
        <activity android:name=".Activity.CanvasRoyaltyImage"/>
        <activity android:name=".Activity.Testing"/>
        <activity android:name=".Chat.AlistChat">
        </activity>
    </application>

</manifest>